$white-color: #fff;
$left-sidebar-background-color: #465B74;
$background-color: #FAF9F6;
$dashboard-header-text-color: #353535;
$welcome-text-color: #465B74;
$bell-icon-color: hsla(248, 21%, 28%, 0.5);
$bell-icon-dot-color: hsla(241, 65%, 31%, 1);
$user-text-color: #1A1922;
$admin-text-color:#2B2744;
$card-title-text-color: #3C3856;
$chart-stick-purple-color: #9190E3;
$chart-stick-blue-color: hsla(209, 61%, 73%, 0.1);
$divider-color: hsla(0, 63%, 95%, 1);
$card-stroke-color: hsla(239, 84%, 64%, 0.1);
$rejected-color: #E95E58;
$approved-color: #039487;
$pending-color: #F4D06E;